<!DOCTYPE html>
<html>
<title>Micky Kumar</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<style>
html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif}
table, th, td {
  border: 1px solid black;
}
</style>
<body class="w3-light-white">

<!-- Page Container -->
<div class="w3-content w3-margin-top" style="max-width:1400px;">

  <!-- The Grid -->
  <div class="w3-row-padding">

    <!-- Left Column -->
    <div class="w3-third">

      <div class="w3-white w3-text-grey w3-card-4">
        <div class="w3-display-container">
          <img src="images\me.jpeg" style="width:100%" alt="Avatar">
          <div class="w3-display-bottomleft w3-container w3-text-black">
            <h2>Micky Kumar</h2>
          </div>
        </div>
        <div class="w3-container">
          <p><i class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-teal"></i>Developer | Accountant | Business Person</p>
          <p><i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-teal"></i>Brampton, ON</p>
          <p><i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-teal"></i>mickykumar510@gmail.com</p>
          <p><i class="fa fa-phone fa-fw w3-margin-right w3-large w3-text-teal"></i></p>
          <hr>

          <p class="w3-large"><b><i class="fa fa-asterisk fa-fw w3-margin-right w3-text-teal"></i> Software Skills</b></p>
          <p>Python</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-blue" style="width:90%">90%</div>
          </div>
          <p>HTML</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-blue" style="width:75%">75%</div>
          </div>
          <p>CSS</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-blue" style="width:75%">75%</div>
          </div>
          <p>Javascript</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-blue" style="width:70%">70%</div>
          </div>

          <p class="w3-large"><b><i class="fa fa-asterisk fa-fw w3-margin-right w3-text-teal"></i>Techincal Skills</b></p>
          <p>Accountinng</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-blue" style="width:80%">
              <div class="w3-center w3-text-white">80%</div>
            </div>
          </div>

          <br>

          <p class="w3-large w3-text-theme"><b><i class="fa fa-globe fa-fw w3-margin-right w3-text-black"></i>Languages</b></p>
          <p>English</p>
          <div class="w3-light-grey w3-round-xlarge">
            <div class="w3-container w3-center w3-round-xlarge w3-blue" style="height:24px;width:100%">100%</div>
          </div>

          <br>
        </div>
        <div>
          <p>Skills badge</p>
        </div>
      </div><br>


    <!-- End Left Column -->
    </div>

    <!-- Right Column -->
    <div class="w3-twothird">


      <div class="w3-container w3-card w3-white w3-margin-bottom">
        <h2 class="w3-text-black w3-padding-16"><i class="fa fa-graduation-cap fa-fw w3-margin-right w3-xxlarge w3-text-black"></i>Gradebook</h2>
        <i><h3 class="w3-text-black w3-padding-16">LIFETIME GPA - 73</h3></i><p>total grade divide(/) y total classes</p>
        <div class="w3-container">
          <table style="width:100%">
            <tr>
              <th>Program</th>
              <th>Term</th>
              <th>Course title</th>
              <th>Grade</th>
            </tr>
            <tr>
              <td>AI</td>
              <td>Winter 2020</td>
              <td>Machine Learning</td>
              <td>74</td>
            </tr>
            <tr>
              <td>AI</td>
              <td>Summer 2020</td>
              <td>Deep Learning</td>
              <td>90</td>
            </tr>
            <tr>
              <td>AI</td>
              <td>Summer 2020</td>
              <td>Reforcement Learning</td>
              <td></td>
            </tr>
            <tr>
              <td>Sheridan Business - Adminstration Accounting</td>
              <td>Fall 2013</td>
              <td>ACCG 16971 Accounting 1</td>
              <td>75</td>
            </tr>
            <tr>
              <td>Sheridan Business - Adminstration Accounting</td>
              <td>Fall 2013</td>
              <td>APPL 19402 Computer Applications</td>
              <td>80</td>
            </tr>
            <tr>
              <td>Sheridan Business - Adminstration Accounting</td>
              <td>Fall 2013</td>
              <td>CULT 10001G Impact of Culture on Workplace</td>
              <td>70</td>
            </tr>
            <tr>
              <td>Sheridan Business - Adminstration Accounting</td>
              <td>Fall 2013</td>
              <td>HRMT 16127 Human Resource Mngmt 1</td>
              <td>60</td>
            </tr>
            <tr>
              <td>Sheridan Business - Adminstration Accounting</td>
              <td>Fall 2013</td>
              <td>MATH 16269 Business Mathematics 1</td>
              <td>65</td>
            </tr>
            <tr>
              <td>Sheridan Business - Adminstration Accounting</td>
              <td>Fall 2013</td>
              <td>MKTG 19439 Marketing 1</td>
              <td>70</td>
            </tr>

            <tfoot>
            <tr>
              <th id="total" colspan="3">Total grade :</th>
              <td>584</td>
            </tr>
            <tr>
              <th id="total" colspan="3">Total classes :</th>
              <td>8</td>
              73
            </tr>
           </tfoot>
            </table>
        </div>

    <!-- End Right Column -->
    </div>

  <!-- End Grid -->
  </div>

  <!-- End Page Container -->
</div>
  <!-- End Page Container
<body class="w3-container w3-white w3-center w3-margin-top">
  <h3>BADGES</h3>
  <h4>Hackerank</h4>
  <img src="images\python.png" style="width:50" alt="Avatar">
  <img src="images\sql.png" style="width:50" alt="Avatar">
 -->

</body>
<!--
<footer class="w3-container w3-white w3-center w3-margin-top">
  <h3>My Company Board</h3>
  <h4>brands of Micky Kumar </h4>
  <img src="images\myCompany_logo\mickys_burger_shack.png" style="width:150px;height:150px" alt="Micky's burger shack">
  <img src="images\myCompany_logo\Mickys_donut.bmp" style="width:150px;height:150px" alt="Avatar">
  <img src="images\myCompany_logo\mickys_coffee_shop.bmp" style="width:150px;height:150px" alt="Avatar">
  <img src="images\myCompany_logo\mickys_iron_wolf_pub.bmp" style="width:150px;height:150px" alt="Avatar">

  <img src="images\myCompany_logo\mickys_high_education.bmp" style="width:150px;height:150px" alt="Avatar">
  <img src="images\myCompany_logo\mickys_publishing_co.png" style="width:150px;height:150px" alt="Avatar">
  <img src="images\myCompany_logo\mickys_health.png" style="width:150px;height:150px" alt="Avatar">
  <img src="images\myCompany_logo\mickys_car_shop.png" style="width:150px;height:150px" alt="Avatar">
  <img src="images\myCompany_logo\mickys_construction.png" style="width:150px;height:150px" alt="Avatar">
  <img src="images\myCompany_logo\mickys_tech.png" style="width:150px;height:150px" alt="Avatar">
  <img src="images\myCompany_logo\mickys_real_estate.png" style="width:150px;height:150px" alt="Avatar">
  <img src="images\myCompany_logo\mickys_accounting_firm.png" style="width:150px;height:150px" alt="Avatar">
  <img src="images\myCompany_logo\mickys_comics.jpg" style="width:150px;height:150px" alt="Avatar">-->

</footer>
<footer class="w3-container w3-black w3-center w3-margin-top">
  <p>Find me on social media.</p>
  <i class="fa fa-facebook-official w3-hover-opacity"></i>
  <i class="fa fa-instagram w3-hover-opacity"></i>
  <i class="fa fa-snapchat w3-hover-opacity"></i>
  <i class="fa fa-pinterest-p w3-hover-opacity"></i>
  <i class="fa fa-twitter w3-hover-opacity"></i>
  <i class="fa fa-linkedin w3-hover-opacity"></i>
  <p>Powered by <a href="" target="_blank">Micky Kumar</a></p>
</footer>

</body>
</html>
