<!DOCTYPE html>{% extends "base.html" %}

{% load static %}
<html>

<body>
{% block content %}
<!-- MAIN (Center website) -->
<div class="main">

<h1>Micky Kumar</h1>
<hr>

<h2>PORTFOLIO</h2>

<div id="myBtnContainer">
  <button class="btn active" onclick="filterSelection('all')"> Show all</button>
  <button class="btn" onclick="filterSelection('python')"> Python</button>
  <button class="btn" onclick="filterSelection('java')"> Java</button>
  <button class="btn" onclick="filterSelection('Machine Learning | Data Science')"> Machine Learning | Data Science</button>
</div>

<!-- Portfolio Gallery Grid -->
<div class="row">
  <div class="column python">
    <div class="content">
      <img src="{% static 'MainApp/portfolio/card.png' %}" alt="Python" style="width:70%">
      <h4>BlackJack Game</h4>
      <p>Python Game</p>
      <p></p>
    </div>
  </div>
  <div class="column python">
    <div class="content">
      <img src="{% static 'MainApp/portfolio/chess.png' %}" alt="Python" style="width:70%">
      <h4>Chess Game</h4>
      <p>Python Game</p>
      <p>Using AI, play with an AI a game of Chess. Also, includes all chess rules and moves </p>
    </div>
  </div>
<!-- END GRID -->
</div>

<!-- END MAIN -->
</div>
{% endblock %}



</body>
</html>